<h1>Welcome to Leads Management</h1>

<%= link_to "Sign Up", signup_path %> Or <%= link_to "Sign In", signin_path %> Or <%= link_to('Log in with Facebook!', '/auth/facebook') %>

<br><br>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
