<h2><%= @agent.name %></h2>
<h2><%= link_to @agent.region.name, region_path(@agent.region) %></h2>

<p><%= form_tag signout_path do %>
  <input type=submit value='Sign Out'>
<% end %>
</p>

<p><%= link_to "Create Lead", new_lead_path %></p>
